* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    -webkit-app-region: drag;
}

.tab-bar {
    display: flex;
    padding: 3px 3px 0;
    overflow-x: auto;
    justify-content: space-between;
    -webkit-app-region: drag;
    height: 40px;
}

.tabs-section {
    display: flex;
    flex: 1;
    overflow-x: auto;
    -webkit-app-region: no-drag;
}

.window-controls {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    -webkit-app-region: no-drag;
}

.window-control-btn {
    background: none;
    border: none;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 28px;
    margin: 0;
    transition: background-color 0.2s;
    -webkit-app-region: no-drag;
}

.window-control-btn .material-icons {
    font-size: 18px;
}

#settingsBtn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 12px;
    margin-right: 5px;
    height: 28px;
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}

.tab {
    padding: 4px 30px 4px 10px;
    border: none;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    min-width: 100px;
    max-width: 200px;
    height: 35px;
    line-height: 20px;
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
}

.tab-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.tab-close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 5px;
    border-radius: 50%;
}

#newTabBtn {
    padding: 4px 12px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
    min-width: 40px;
    transition: all 0.2s ease;
    border-radius: 5px;
    margin: 0 2px;
}

.tab-content {
    flex: 1;
    position: relative;
    -webkit-app-region: no-drag;
}

.webview-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.webview-container.active {
    display: block;
}

webview {
    width: 100%;
    height: 100%;
}

.tab-bar::-webkit-scrollbar {
    display: none;
}

.tabs-section::-webkit-scrollbar {
    height: 3px;
}

.tabs-section::-webkit-scrollbar-track {
    background: transparent;
}